In [20]:
import numpy as np
import pandas as pd

import re
import os
from tqdm import tqdm

In [21]:
START = "**SOF**"
END = "**EOF**"
INPUT_FOLDER= "./data/01_txt"
SAVE_FOLDER = "./data/02_feathers"

data = []
file_names = os.listdir(INPUT_FOLDER)

with tqdm(total=len(file_names)) as waiter:
    for fname in file_names:
        waiter.set_description(f"reading file {fname}")
        with open(f"{INPUT_FOLDER}/{fname}") as f:
            user = os.path.splitext(fname)[0]
            sess_id = -1
            
            for token in f:
                token = token.strip()
                if token == START:
                    sess_id += 1
                elif token == END:
                    pass
                else:
                    row = [user, sess_id, token]
                    data.append(row)
        waiter.update()
        
data = pd.DataFrame(data, columns=['user', 'sess_id', 'token'])

reading file USER6.txt: 100%|██████████| 9/9 [00:00<00:00, 35.26it/s]

In [22]:
data.head()

    user  sess_id token
0  USER8        0     X
1  USER8        0     z
2  USER8        2    cd
3  USER8        2   <1>
4  USER8        2    cd

In [23]:
data.groupby('user').apply(lambda x: x.sess_id.nunique())

user
USER0     562
USER1     488
USER2     755
USER3     484
USER4     911
USER5     546
USER6    2425
USER7    1339
USER8    1590
dtype: int64

In [24]:
ARGS1 = re.compile(r'\<.\>')
ARGS2 = re.compile(r'%.')
OPTS1 = re.compile(r'-.')
OPTS2 = ("&")
PIPE = (";","|","&&","||")


def token_type(s: str) -> str:
    if bool(ARGS1.findall(s)) or bool(ARGS2.findall(s)):
        return 'args'
    elif bool(OPTS1.findall(s)) or s in OPTS2:
        return 'opts'
    elif s in PIPE:
        return 'pipe'
    else:
        return 'cmd'

In [25]:
data['token_type'] = data.token.apply(token_type)
data['line_id'] = 0

In [26]:
data.head(300)

      user  sess_id                  token token_type  line_id
0    USER8        0                      X        cmd        0
1    USER8        0                      z        cmd        0
2    USER8        2                     cd        cmd        0
3    USER8        2                    <1>       args        0
4    USER8        2                     cd        cmd        0
5    USER8        2                    <1>       args        0
6    USER8        2                     ll        cmd        0
7    USER8        2                     vi        cmd        0
8    USER8        2                    <1>       args        0
9    USER8        2                     vi        cmd        0
10   USER8        2                    <1>       args        0
11   USER8        2                      z        cmd        0
12   USER8        4                    elm        cmd        0
13   USER8        4                     cd        cmd        0
14   USER8        4                    <1>       args        0
15   USER8        4                 matlab        cmd        0
16   USER8        4                      z        cmd        0
17   USER8        5                      X        cmd        0
18   USER8        5                      z        cmd        0
19   USER8        6                     vi        cmd        0
20   USER8        6                    <1>       args        0
21   USER8        6                    elm        cmd        0
22   USER8        6                   ping        cmd        0
23   USER8        6                    <1>       args        0
24   USER8        6                   ping        cmd        0
25   USER8        6                    <1>       args        0
26   USER8        6                     cd        cmd        0
27   USER8        6                    <1>       args        0
28   USER8        6                     cd        cmd        0
29   USER8        6                    <1>       args        0
..     ...      ...                    ...        ...      ...
270  USER8       12  <GENSYM:1>/csh_parser        cmd        0
271  USER8       12                      <        cmd        0
272  USER8       12                    <1>       args        0
273  USER8       12  <GENSYM:1>/csh_parser        cmd        0
274  USER8       12                      <        cmd        0
275  USER8       12                    <1>       args        0
276  USER8       12                      m        cmd        0
277  USER8       12                    <1>       args        0
278  USER8       12                     cd        cmd        0
279  USER8       12                      -        cmd        0
280  USER8       12                     vi        cmd        0
281  USER8       12                    <1>       args        0
282  USER8       12                   make        cmd        0
283  USER8       12                     vi        cmd        0
284  USER8       12                    <1>       args        0
285  USER8       12                   make        cmd        0
286  USER8       12                     cd        cmd        0
287  USER8       12                      -        cmd        0
288  USER8       12  <GENSYM:1>/csh_parser        cmd        0
289  USER8       12                      <        cmd        0
290  USER8       12                    <1>       args        0
291  USER8       12                     cd        cmd        0
292  USER8       12                      -        cmd        0
293  USER8       12                     vi        cmd        0
294  USER8       12                    <1>       args        0
295  USER8       12                   make        cmd        0
296  USER8       12                     vi        cmd        0
297  USER8       12                    <1>       args        0
298  USER8       12                     cd        cmd        0
299  USER8       12                      -        cmd        0

[300 rows x 5 columns]

In [27]:
def parse_token_sequence(df):
    token_sequence = df.token_type.tolist()
    line = 0
    line_ids = [line]

    for i in range(1, len(token_sequence)):
        if token_sequence[i] == 'cmd' and token_sequence[i-1] != 'pipe':
            line += 1
            line_ids.append(line)
        else:
            line_ids.append(line)
    df.line_id = line_ids
    return df

In [28]:
data = data.groupby(['user', 'sess_id']).apply(parse_token_sequence)

In [29]:
data.head(300)

      user  sess_id                  token token_type  line_id
0    USER8        0                      X        cmd        0
1    USER8        0                      z        cmd        1
2    USER8        2                     cd        cmd        0
3    USER8        2                    <1>       args        0
4    USER8        2                     cd        cmd        1
5    USER8        2                    <1>       args        1
6    USER8        2                     ll        cmd        2
7    USER8        2                     vi        cmd        3
8    USER8        2                    <1>       args        3
9    USER8        2                     vi        cmd        4
10   USER8        2                    <1>       args        4
11   USER8        2                      z        cmd        5
12   USER8        4                    elm        cmd        0
13   USER8        4                     cd        cmd        1
14   USER8        4                    <1>       args        1
15   USER8        4                 matlab        cmd        2
16   USER8        4                      z        cmd        3
17   USER8        5                      X        cmd        0
18   USER8        5                      z        cmd        1
19   USER8        6                     vi        cmd        0
20   USER8        6                    <1>       args        0
21   USER8        6                    elm        cmd        1
22   USER8        6                   ping        cmd        2
23   USER8        6                    <1>       args        2
24   USER8        6                   ping        cmd        3
25   USER8        6                    <1>       args        3
26   USER8        6                     cd        cmd        4
27   USER8        6                    <1>       args        4
28   USER8        6                     cd        cmd        5
29   USER8        6                    <1>       args        5
..     ...      ...                    ...        ...      ...
270  USER8       12  <GENSYM:1>/csh_parser        cmd       16
271  USER8       12                      <        cmd       17
272  USER8       12                    <1>       args       17
273  USER8       12  <GENSYM:1>/csh_parser        cmd       18
274  USER8       12                      <        cmd       19
275  USER8       12                    <1>       args       19
276  USER8       12                      m        cmd       20
277  USER8       12                    <1>       args       20
278  USER8       12                     cd        cmd       21
279  USER8       12                      -        cmd       22
280  USER8       12                     vi        cmd       23
281  USER8       12                    <1>       args       23
282  USER8       12                   make        cmd       24
283  USER8       12                     vi        cmd       25
284  USER8       12                    <1>       args       25
285  USER8       12                   make        cmd       26
286  USER8       12                     cd        cmd       27
287  USER8       12                      -        cmd       28
288  USER8       12  <GENSYM:1>/csh_parser        cmd       29
289  USER8       12                      <        cmd       30
290  USER8       12                    <1>       args       30
291  USER8       12                     cd        cmd       31
292  USER8       12                      -        cmd       32
293  USER8       12                     vi        cmd       33
294  USER8       12                    <1>       args       33
295  USER8       12                   make        cmd       34
296  USER8       12                     vi        cmd       35
297  USER8       12                    <1>       args       35
298  USER8       12                     cd        cmd       36
299  USER8       12                      -        cmd       37

[300 rows x 5 columns]

In [30]:
# Check the structure of session 10 of USER8 (it's a longer session and has pipes in it)

data.loc[data.user == 'USER8'].loc[data.sess_id == 10].groupby('line_id').apply(lambda x: print(x.token.tolist()))

['xbiff', '&']
['xbiff', '&']
['elm']
['bc', '-l']
['elm']
['cd', '<1>']
['cd']
['elm']
['elm']
['findall']
['elm']
['ct']
['ll']
['vi', '<1>']
['<GENSYM:1>/foo.pl']
['vi', '<1>']
['<GENSYM:1>/foo.pl']
['vi', '<1>']
['man', '<1>']
['vi', '<1>']
['<GENSYM:1>/foo.pl']
['vi', '<1>']
['<GENSYM:1>/foo.pl']
['man', '<1>']
['vi', '<1>']
['<GENSYM:1>/foo.pl']
['vi', '<1>']
['man', '<1>']
['fg']
['bg']
['vi', '<1>']
['<GENSYM:1>/foo.pl']
['cat', '<1>']
['vi', '<1>']
['<GENSYM:1>/foo.pl']
['vi', '<1>']
['<GENSYM:1>/foo.pl']
['<GENSYM:1>/foo.pl']
['cd']
['elm']
['z']

Empty DataFrame
Columns: []
Index: []

In [146]:
data.groupby('token_type').nunique()

            user  sess_id  token  token_type  line_id
token_type
args           9     2542      9           1      946
bg             9      666      2           1      294
cmd            9     2961   1915           1     1181
opts           9     1586    425           1      550
oth            5       27      4           1       31
pipe           9      551      2           1      227

In [145]:
# Number of lines per user
data.groupby(['user']).apply(lambda x: x.line_id.nunique())

user
USER0     121
USER1     251
USER2     175
USER3    1181
USER4     524
USER5     770
USER6     270
USER7     222
USER8     289
dtype: int64

In [32]:
# Unique tokens (words)
data.token.nunique()

2357

In [33]:
data.to_csv('data/04_dataset.tsv', sep='\t')